@media (max-width: 768px) {
  .home-content h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 768px) {
  .about-cont {
    margin-top: 40px;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .carousel-inner blockquote {
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .team-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 1400px) {
  .input1 {
    margin-bottom: 20px;
  }
  .contact-sec .container {
    width: 95%;
  }
}
